.box {
    width: 500px;
    height: 100px;
    float: left;
    border-radius: 25px;
    border: 15px solid black;
    padding: 0px;
    margin: 25px;
}

.previous {
	background-image: url('img/previous.png');
	background-size: cover;
	float: left;
    width: 80px;
    height: 80px;
    border: 10px solid red;
    padding: 0px;
    margin: 0px;
}

.play {
	background-image: url('img/play.png');
	background-size: cover;
	float: left;
    width: 80px;
    height: 80px;
    border: 10px solid blue;
    padding: 0px;
    margin: 0px;
}

.pause {
	background-image: url('img/pause.png');
	background-size: cover;
	float: left;
    width: 80px;
    height: 80px;
    border: 10px solid green;
    padding: 0px;
    margin: 0px;
}

.next {
	background-image: url('img/next.png');
	background-size: cover;
	float: left;
    width: 80px;
    height: 80px;
    border: 10px solid purple;
    padding: 0px;
    margin: 0px;
}

.random {
	background-image: url('img/random.png');
	background-size: cover;
	float: left;
    width: 80px;
    height: 80px;
    border: 10px solid yellow;
    padding: 0px;
    margin: 0px;
}